
Assignment 2/m.txt
*.pyc
Assignment 2/lib.py
Assignment 2/mylibrary.py
Assignment 3/lib.py
Assignment 3/Q2.py
Assignment 3/Q3.py
Assignment 3/qx.txt
Assignment 4/mylibrary.py
Assignment 3/mylibrary.py
Assignment 4/Q1.py
Assignment 4/q1.txt
